# ignore input and output files
Output/
qwackPot/ListOfOutputFiles.txt
qwackPot/cards/
qwackPot/Input_General.txt
qwackPot/Input_Specific.txt

# ignore DWUCK files, which should be in this same folder
DWUCK4.exe
build

# ignore gnuplot plotting functons
*.gnuplot
*.png

# ignoring output files
*.txt

