# ignore input and output files
Output_Unprocessed/
Output_Processed/
qwackPot/ListOfOutputFiles.txt
qwackPot/cards/
qwackPot/Input_General.txt
qwackPot/Input_Specific.txt

# ignore DWUCK files, which should be in this same folder
DWUCK4.exe
build

# ignore TWOFNR output files
qwackPot/adwa/20.*
qwackPot/adwa/21.*
qwackPot/adwa/22.*
qwackPot/adwa/23.*
qwackPot/adwa/24.*
qwackPot/adwa/folded.*
qwackPot/adwa/in.*
qwackPot/adwa/smat_ex.*
qwackPot/adwa/smat_in.*
qwackPot/adwa/tran.*

# ignore gnuplot plotting functons
*.gnuplot
*.png

